@import "./../../../styles/colors";

.code {
  background-color: #f9f9f9;
  padding: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
  overflow-x: scroll;
  font-size: 0.875rem;
  color: #4f46e5;
}
